extends layout

block content
    legend Templates
        table
            for t in templates
                tr
                    td
                        h2 #{t.name} 
                        cite Designed for #{t.entityMap} 
                        p
                            a(href="#" onClick="previewMe('" + t.id + "','"+t.jpeg+"')") Preview 
                            span or 
                            a(href=t.html target="_blank") HTML 
                                img(src='http://icons.iconarchive.com/icons/graphicloads/filetype/48/txt-icon.png')
                            span    or   
                            a(href=t.pdf target="_blank") Download PDF
                                img(src='http://icons.iconarchive.com/icons/graphicloads/filetype/48/pdf-icon.png')
                        p
                            img(id=t.id, height='200')