extends layout

block content
  .page-header
    h3 Templates
        hr
        table(cellpadding=4)
            tr
                th 
                th Description
                th Get it
            for t in templates
                tr
                    td(valign='top')
                        img(src='https://img.icons8.com/doodle/1x/'+t.entityMap.toLowerCase()+'.png')
                    td(valign='top')
                        h3 #{t.name} 
                        cite Designed for #{t.entityMap}
                        p
                            a(href="#/" onClick="previewMe('" + t.id + "','"+t.jpeg+"');") Preview 
                        img(id=t.id, height='200')
                    td(valign='top')
                        p 
                            a(href=t.html target="_blank") HTML 
                                img(src='http://icons.iconarchive.com/icons/graphicloads/filetype/48/txt-icon.png')
                        p
                            a(href=t.pdf target="_blank") PDF 
                                img(src='http://icons.iconarchive.com/icons/graphicloads/filetype/48/pdf-icon.png')
                        p #{t.templateName}